.header__container {
  display: flex;
  gap: 1rem;
}

.header__logo {
  height: 4rem;
}

.header__head {
  padding-top: 1.2rem;
}
.header__title {
  color: #003a68;
  font-size: medium;
}
.header__subtitle {
  font-weight: 300;
  color: grey;
}
